header {
    background-color: #1f2937;
}

.quote {
    background-color: #e5e7eb;
}

.pics {
    display: flex;
}

h1 {
    text-align: center;
}

.two {
    text-align: right;
    font-size: 18px;
    color: #e5e7eb;
}

.three {
    display: flex;
}